$yellow: #F4E041;//for button
$button_hover: #FFE302;
$secondary: #00BDD3;
$background: #F8F8F8;
$background2: #B4B4B4;
$grey: #7E7E7E; //font color
$placeholder: #7E7E7E; //for placeholder and labels
$error: #CB3D40;
$black: #000000DE;
$border: #D0CFCF;