@import "null";
@import "variables";

body {
  color: $black;
  font-family: "Nunito", sans-serif;
  background-color: $background;
  line-height: 26px;
}

h2 {
  font-size: 40px;
  margin: 140px 0 50px;
  text-align: center;
  line-height: 40px;
}

.container {
  max-width: 1290px;
  padding: 0 60px;
  margin: auto;

  @media (max-width: 768px) {
    padding: 0 32px;
  }

  @media (max-width: 414px) {
    padding: 0 16px;
  }
}
@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
